html, body {
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    background-color: #E9EBEE;
    color: #424242;
}
.fade-in {
    transition: all linear 0.5s;
    opacity: 1;
}

.fade-out {
    transition: all linear 0.5s;
    opacity: 0;
}


.navbar-default {
    background-color: #00695c;
    border-color: #004d40;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #004d40;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #004d40;
}
.navbar-default .navbar-toggle {
    border-color: #004d40;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #004d40;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #004d40;
    }
}
.color-teal {
    color: #00695C;
}

.btn-teal {
    background-color: #00695C;
    border-color: #00695C;
    color: #fff;
}

.btn-teal:hover,
.btn-teal:focus,
.btn-teal:active,
.btn-teal.active {
    background-color: #005046;
    border-color: #00362f;
    color: #fff;
}

.btn-teal.disabled:hover,
.btn-teal.disabled:focus,
.btn-teal.disabled:active,
.btn-teal.disabled.active,
.btn-teal[disabled]:hover,
.btn-teal[disabled]:focus,
.btn-teal[disabled]:active,
.btn-teal[disabled].active,
fieldset[disabled] .btn-teal:hover,
fieldset[disabled] .btn-teal:focus,
fieldset[disabled] .btn-teal:active,
fieldset[disabled] .btn-teal.active {
    background-color: #00695C;
    border-color: #00695C;
    color: #fff;
}

.btn-default-love {
    border: none;
    background-color: #fff;
    color: #00695C;

}

.btn-default-love:hover,
.btn-default-love:focus,
.btn-default-love:active,
.btn-default-love.active {
    background-color: #f6f7f9;
    color: #00695C;
}

.btn-default-love.disabled:hover,
.btn-default-love.disabled:focus,
.btn-default-love.disabled:active,
.btn-default-love.disabled.active,
.btn-default-love[disabled]:hover,
.btn-default-love[disabled]:focus,
.btn-default-love[disabled]:active,
.btn-default-love[disabled].active,
fieldset[disabled] .btn-default-love:hover,
fieldset[disabled] .btn-default-love:focus,
fieldset[disabled] .btn-default-love:active,
fieldset[disabled] .btn-default-love.active {
    background-color: #f6f7f9;
    color: #00695C;
}
.color-gray {
    color: #90949C;
}

.padding-bottom {
    padding-bottom: 15px;
}
.padding-top {
    padding-top: 15px;
}
.panel-default .border-bottom {
    margin: 0 15px;
    border-bottom: 1px solid #E9EBEE;
}

.panel-default > .panel-heading-love {
    background: #fff;
    color: #90949C;
    border: none;
}


.feed-text {
    border: none;
    resize: none;
    width: 100%;
    outline: 0;
}

.content {
    padding: 0 15px;
}

.content-wrapper {
    background-color: #fff;
    padding: 15px 0;
}

.border-title {
    padding-top: 8px;
    border-bottom: 1px solid #E9EBEE;
}