html, body {
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    background-color: #E9EBEE;
    color: #424242;
}
.fade-in {
    transition: all linear 0.5s;
    opacity: 1;
}

.fade-out {
    transition: all linear 0.5s;
    opacity: 0;
}



