<div layout="column" style="height: calc(100%)" ng-cloak="">
    <div ng-show="!appLove.showSearch">
        <md-toolbar md-scroll-shrink class="md-whiteframe-1dp md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu" hide-gt-sm ng-click="appLove.toggleList()">
                    <i class="material-icons">dehaze</i>
                </md-button>
                <h2 class="">
                    <span>Em Plus</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Search" ng-click="appLove.showSearch = !appLove.showSearch">
                    <i class="material-icons">search</i>
                </md-button>
                <md-button hide-xs layout="row" layout-align="center center" aria-label="More">
                    <img width="40" class="profile" height="40"
                         src="https://scontent-hkg3-1.xx.fbcdn.net/t31.0-8/13582046_630006380482467_7796971150974390317_o.jpg"
                         alt=""/>
                    <span>Le Manh Hung</span>
                </md-button>
                <md-button hide-xs layout="row" layout-align="center center" aria-label="More">
                    <span>Đăng Nhập</span>
                </md-button>
                <md-button hide-xs layout="row" layout-align="center center" aria-label="More">
                    <span>Đăng ký</span>
                </md-button>
                <md-menu hide-xs md-position-mode="target-right target">
                    <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
                        <i class="material-icons">arrow_drop_down</i>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button layout="row" layout-align="start center">
                                <i class="material-icons">help</i>
                                <span>Trợ giúp</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button layout="row" layout-align="start center">
                                <i class="material-icons">report</i>
                                <span>Báo Cáo Sự Cố</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
    </div>
    <div ng-show="appLove.showSearch" >
        <md-toolbar class="md-whiteframe-1dp md-hue-2" ng-class="appLove.showSearch? 'fade-in': 'fade-out'">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="back" ng-click="appLove.showSearch = !appLove.showSearch">
                    <i class="material-icons">arrow_back</i>
                </md-button>
                <md-input-container flex="" layout="row" layout-align="start center">
                    <label>&nbsp;</label>
                    <input style="color: #fff" placeholder="Enter search">
                </md-input-container>
                <md-button aria-label="Search" class="md-icon-button" ng-click="appLove.showSearch = !appLove.showSearch">
                    <i class="material-icons">search</i>
                </md-button>
            </div>
        </md-toolbar>
    </div>
    <section layout="row" flex="">
        <md-sidenav class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="listCategory"
                    md-whiteframe="1">
            <div class="column">
                <md-list flex class="list-menu no-padding">
                    <md-list-item class="md-1-line" ng-click="null">
                        <div class="md-list-item-text" layout="row" flex="" layout-align="left center">
                            <i class="material-icons">grade</i>
                            <span class="category-icon">Top</span>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-1-line" ng-click="null">
                        <div class="md-list-item-text" layout="row" flex="" layout-align="left center">
                            <i class="material-icons">sentiment_satisfied</i>
                            <span class="category-icon">Fun</span>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-sidenav>
        <md-content flex="" layout-padding="" class="container">
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
                <p>IHIHI</p>
        </md-content>
    </section>
    <app-footer></app-footer>
</div>