<div layout="row">
    <div class="new-feed" flex-xs="100" layout-padding="">
        <div class="feeling md-background-white">
            <div layout="column">
                <div class="padding-bottom color-green" layout="row" layout-align="left center">
                    <i class="material-icons">camera_alt</i>
                    <span class="padding-left">Ảnh</span>
                </div>
                <md-divider></md-divider>
            </div>
            <div layout="row" layout-align="left start">
                <img width="40" height="40" class="padding-top"
                     src="https://scontent-hkg3-1.xx.fbcdn.net/t31.0-8/13582046_630006380482467_7796971150974390317_o.jpg"
                     alt=""/>
                <div layout="column" layout-padding="" flex="">
                    <textarea style="border: none; resize: none; outline: 0" ng-model="appLove.love" autosize type="text" placeholder="Bạn Đang Nghĩ gì"/>
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-align="end center">
                <md-input-container>
                    <md-select ng-model="skillCheckUpdate.userState" aria-label="false">
                        <md-option layout="row" layout-align="center center" ng-repeat="state in [{id:1 ,name: 'Top', value: '1', icon: 'grade'},{id:2 ,name: 'Fun',value: '2', icon: 'sentiment_satisfied'}]" ng-selected="$index === 0" value="{{state.value}}">
                            <span>{{state.name}}</span>
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-button class="md-raised md-primary md-hue-2">
                    Post
                </md-button>
            </div>
        </div>
        <div class="feeling md-background-white">
            <div layout="row" layout-align="left start">
                <img width="40" height="40"
                     src="https://scontent-hkg3-1.xx.fbcdn.net/t31.0-8/13582046_630006380482467_7796971150974390317_o.jpg"
                     alt=""/>
                <div layout="column" flex="" class="color-green padding-left">
                    <span>Mickey Ichi</span>
                    <span class="label-gray">1 giờ · </span>
                </div>
            </div>
            <p>
                Miss the action of the Imagine Cup World Championship? Now you can watch John Boyega judge the final 3 teams of the global competition
            </p>
            <div>
                <img style="max-width: 100%" src="https://scontent-hkg3-1.xx.fbcdn.net/t31.0-8/13575894_1225640054113373_762006967057267839_o.jpg"
                     alt="">
            </div>
        </div>
        <div class="feeling md-background-white">
            <div layout="row" layout-align="left start">
                <img width="40" height="40"
                     src="https://scontent-hkg3-1.xx.fbcdn.net/t31.0-8/13582046_630006380482467_7796971150974390317_o.jpg"
                     alt=""/>
                <div layout="column" flex="" class="color-green padding-left">
                    <span>Mickey Ichi</span>
                    <span class="label-gray">1 giờ · </span>
                </div>
            </div>
            <p>
                Miss the action of the Imagine Cup World Championship? Now you can watch John Boyega judge the final 3 teams of the global competition
            </p>
            <div>
                <img style="max-width: 100%" src="https://scontent-hkg3-1.xx.fbcdn.net/t31.0-8/13575894_1225640054113373_762006967057267839_o.jpg"
                     alt="">
            </div>
        </div>
        <div class="feeling md-background-white">
            <div layout="row" layout-align="left start">
                <img width="40" height="40"
                     src="https://scontent-hkg3-1.xx.fbcdn.net/t31.0-8/13582046_630006380482467_7796971150974390317_o.jpg"
                     alt=""/>
                <div layout="column" flex="" class="color-green padding-left">
                    <span>Mickey Ichi</span>
                    <span class="label-gray">1 giờ · </span>
                </div>
            </div>
            <p>
                Miss the action of the Imagine Cup World Championship? Now you can watch John Boyega judge the final 3 teams of the global competition
            </p>
            <div>
                <img style="max-width: 100%" src="https://scontent-hkg3-1.xx.fbcdn.net/t31.0-8/13575894_1225640054113373_762006967057267839_o.jpg"
                     alt="">
            </div>
        </div>
    </div>
    <div layout="row" hide-sm="" hide-xs="" hide-md="" layout-align="start start" layout-padding="" layout-wrap="" flex="">
        <div class="feeling md-background-white gridListdemoBasicUsage" flex-lg="60" style="max-width: 360px;" flex-xl="50">
            <div class="padding-bottom color-gray font-w-600">Đang Hot</div>
            <md-divider></md-divider>
            <md-grid-list md-cols="4" md-row-height="1:1" md-cols-gt-md="4" md-row-height-gt-md="1:1" md-gutter-gt-sm="8px">
                <md-grid-tile class="gray" md-rowspan="2" md-colspan="2">
                    <md-grid-tile-footer>
                        <h3>Love you again</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="green" md-rowspan="2" md-colspan="2">
                    <md-grid-tile-footer>
                        <h3>Love you again</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="red" md-rowspan="2" md-colspan="2">
                    <md-grid-tile-footer>
                        <h3>Love you again</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="yellow" md-rowspan="2" md-colspan="2">
                    <md-grid-tile-footer>
                        <h3>Love you again</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</div>
